Heroes Of Pymoli Data Analysis 
-----

In [228]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [229]:
#player_count = purchase_data_df['SN'].value.counts()
#player_count
total_Players = len(purchase_data_df['SN'].value_counts())
Total_Players = pd.DataFrame({"Total Players": total_players}, index=[0])
Total_Players

   Total Players
0            576

## Purchasing Analysis (Total)

In [230]:
#Creating Number of Unique items, Average Purchase, Total Revenue, and number of purchases

UniqueItems = len(purchase_data_df['Item Name'].value_counts())
AveragePrice = np.round(purchase_data_df['Price'].mean(), decimals=2)
NumberPurchases = purchase_data_df['Item ID'].count()
TotalRevenue = purchase_data_df['Price'].sum()

#Creating Data Frame
PurchasingAnalysis_df = pd.DataFrame({
    "Number of Unique Items": [UniqueItems],
    "Average Item Price": [AveragePrice],
    "Number of Purchases": [NumberPurchases],
    "Total Item Revenue": [TotalRevenue],
})

#Data Cleanup
PurchasingAnalysis_df = PurchasingAnalysis_df[["Number of Unique Items" , "Average Item Price" , 
                                               "Number of Purchases" , "Total Item Revenue"]]
PurchasingAnalysis_df["Average Item Price"] = PurchasingAnalysis_df["Average Item Price"].map("${0:,.2f}".format)
PurchasingAnalysis_df["Total Item Revenue"] = PurchasingAnalysis_df["Total Item Revenue"].map("${0:,.2f}".format)

PurchasingAnalysis_df

,Number of Unique Items,Average Item Price,Number of Purchases,Total Item Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

In [231]:
#gender dataframe
gender_grouped_df = purchase_data_df.groupby("Gender")
#display unique counts
unique_df = gender_grouped_df.nunique()
total_gender_grouped = unique_df["SN"].sum()

#displaying gender counts and percentagees
gender_count = unique_df["SN"].unique()
percentage_display = unique_df["SN"]/ total_gender_grouped
percentage_display

#formatting for percentages
GenderDisplay = pd.DataFrame({"Total Count":gender_count ,"Percentage of Players": percentage_display})
GenderDisplay["Percentage of Players"] = GenderDisplay["Percentage of Players"].map("{:,.2%}".format)
GenderDisplay.index.name = None
GenderDisplay

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [137]:
#caluclating purchases,average price, and total purchase value
GenderPurchase_df = gender_grouped_df["Purchase ID"].count()
AverageGender_df = gender_grouped_df["Price"].mean()
TotalGenderPurchase_df = gender_grouped_df["Price"].sum()
AverageTotalperPerson_df = TotalGenderPurchase_df / gender_count

#Summary Data Frame to hold results
GenderPurchasingAnalysis = pd.DataFrame({
    "Purchase Count": GenderPurchase_df,
    "Average Purchase Price": AverageGender_df,
    "Total Purchase Value": TotalGenderPurchase_df,
    "Average Total Purchase per Person": AverageTotalperPerson_df,  
})

#Format number values for currency amounts
GenderPurchasingAnalysis.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Average Total Purchase per Person":"${:,.2f}"})

## Age Demographics

In [102]:
#displaying ages to create proper bin
purchase_data_df["Age"].unique()

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45], dtype=int64)

In [226]:
#Establishing bins for ages
bins_age_type = [0, 9, 14, 19, 24, 29, 34, 39, 50 ]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorizing existing players using the age bins created above
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins_age_type, labels=age_groups)
purchase_data_df

#Calculating numbers and percentages by age group
age_grouped = purchase_data_df.groupby("Age Group")
total_count_age = age_grouped["SN"].nunique()
percentage_by_age = (total_count_age/total_Players) * 100

# Create data frame with total counts and percentages and display
age_demo = pd.DataFrame({"Total Count": total_count_age, 
                         "Percentage of Players": percentage_by_age
                        })

# Removing index column and number mapping/formatting
age_demo.index.name = None
age_demo.style.format({"Percentage of Players" : "{:,.2f}%"})

## Purchasing Analysis (Age)

In [233]:
# Running basic calculations to obtain purchase count, avg. purchase price etc...
# Use previous bin data 
purchase_count_age = age_grouped["Purchase ID"].count()
avg_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value = age_grouped["Price"].sum()
avg_purchase_per_person_age = total_purchase_value/total_count_age


# Create data frame 
age_demo = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format/mapping with currency style
age_demo.index.name = None
age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

In [198]:
#creating data for Purchase Count, Avg Purchase Price, and Total Purchase Value
purchase_by_sn = purchase_data_df.groupby("SN")
purchase_by_spender = purchase_by_sn["Purchase ID"].count()
avg_purchase_by_sn = purchase_by_sn["Price"].mean()
purchase_total_sn = purchase_by_sn["Price"].sum()

#Creating summary data frame to hold results
top_spenders = pd.DataFrame({"Purchase Count": purchase_by_spender,
                             "Average Purchase Price": avg_purchase_by_sn,
                             "Total Purchase Value":purchase_total_sn
                            })
#Sorting total purchase value in descending order
desc_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#Value formatting/mapping to show dollar signs
desc_spenders.style.format({"Average Purchase Price" : "${:,.2f}",
                           "Total Purchase Value" : "${:,.2f}"
                           })

## Most Popular Items

In [208]:
# Retrieving Item ID, Item Name, and Item Price columns
popular_items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

# making group of Item ID and Item Name 
item_ID_group = popular_items_df.groupby(["Item ID","Item Name"])

# Calculations to obtain purchase count, item price and total purchase value 
purchase_counter = item_ID_group["Price"].count()
purchase_value = (item_ID_group["Price"].sum()) 
item_price = purchase_value/purchase_counter

# Data frame to house earlier obtained values. MPI- Most Popular Items
MPI = pd.DataFrame({"Purchase Count": purchase_counter, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Formatting and clean-up
popular_formatted = MPI.sort_values(["Purchase Count"], ascending=False).head()
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

In [213]:
# Use previous data frame to set table structure
Most_Profit = pd.DataFrame({"Purchase Count": purchase_counter,
                            "Total Purchase Value":purchase_value, 
                            "Item Price": item_price
                                  })

# Formatting for currency
Most_profit_formatted = Most_Profit.sort_values(["Purchase Count"], ascending=False).head()
Most_profit_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})